<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Add New Blog</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class=" container mb-3">
                <label for="coverImage" class="form-label" >Cover Image</label>
                <input type="file" class="form-control" id="coverImage" aria-describedby="coverImage" name="coverImage">
            </div>
            <div class=" container mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
            </div>
            <div class=" container mb-3 mt-2">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" style="height: 100px" name="body"></textarea>
            </div>
            <div class=" container mb-3 mt-2">
                <Button class="btn btn-primary">Submit</Button>
            </div>
        </form>
</body>
<%- include('./partials/script.ejs')%>

</html>